<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/heroes/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="Delete hero" (click)="delete(hero.id)">x</button>
    </li>
</ul>

<div>
    <label for="heroName">Hero name: </label>
    <input type="text" id="heroName" #heroName>
    <button class="add-button" (click)="create(heroName.value); heroName.value = ''">Add hero</button>
</div>